@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

body {
  position: relative;
}

.container {
  background-image: url(../images/default_dark_compressed.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  transition: 0.3s ease-in-out;
}
.container .windowsapp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 15%;
  padding: 1rem;
}
.container .windowsapp .app {
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 12px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .windowsapp .app .img {
  width: 50px;
  height: 50px;
}
.container .windowsapp .app .img img {
  width: 40px;
  display: block;
}
.container .windowsapp .app:hover {
  background-color: rgba(173, 173, 241, 0.329);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
@media (max-width: 900px) {
  .container {
    height: 100vh;
  }
  .container .windowsapp {
    grid-template-columns: repeat(2, 1fr);
  }
  .container .windowsapp .app {
    width: 200px;
  }
  .container .windowsapp .app .img img {
    width: 100%;
    display: block;
  }
  .container .windowsapp .app p {
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}
@media (max-width: 480px) {
  .container {
    height: 100vh;
  }
  .container .windowsapp {
    height: 90%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
  .container .windowsapp .app {
    width: 100%;
  }
  .container .windowsapp .app .img {
    width: 40px;
  }
  .container .windowsapp .app .img img {
    width: 100%;
    display: block;
  }
  .container .windowsapp .app p {
    margin-top: 1rem;
    font-size: small;
  }
}

.lightMode {
  background-image: url(../images/default_light_compressed.jpg);
  transition: 0.3s ease-in-out;
  color: black;
}
.lightMode .taskBar {
  background: rgba(255, 255, 255, 0.555);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: 0.3s ease-in-out;
}
.lightMode .starUpWindow {
  background: rgba(255, 255, 255, 0.404);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.lightMode .starUpWindow .input {
  background: white;
}
.lightMode .widget {
  background-color: rgba(255, 255, 255, 0.699);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.lightMode .widget .flex .card1 {
  background-color: rgba(255, 255, 255, 0.842);
}
.lightMode .widget .flex .card1 .head i {
  background-color: rgb(180, 175, 175);
}
.lightMode .widget .card2 {
  background-color: rgba(255, 255, 255, 0.842);
}
.lightMode .notificationBar {
  background-color: rgba(255, 255, 255, 0.699);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.lightMode .notificationBar .notify p {
  color: black;
}
.lightMode .notificationBar .buttons {
  background-color: rgba(255, 255, 255, 0.801);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.lightMode .notificationBar .buttons button {
  background-color: rgba(255, 255, 255, 0.699);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: black;
}

.taskBar {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 252, 252, 0.562);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.taskBar .startUp {
  display: flex;
  gap: 1rem;
  margin-left: 30rem;
}
.taskBar .startUp img {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
}
.taskBar .startUp img:hover {
  background-color: rgba(173, 173, 241, 0.329);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 5px;
}
.taskBar .time {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}
.taskBar .time .icons {
  display: flex;
  gap: 1rem;
}
.taskBar .time .clockAnddata {
  margin-left: 2rem;
}
@media (max-width: 900px) {
  .taskBar {
    height: 100px;
  }
  .taskBar .startUp {
    margin-left: 5rem;
    gap: 0;
  }
  .taskBar .startUp img {
    width: 50px;
    height: 50px;
  }
  .taskBar .time .icons {
    font-size: 2rem;
  }
  .taskBar .time .clockAnddata {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .taskBar {
    height: 50px;
  }
  .taskBar .startUp {
    margin-left: 1rem;
  }
  .taskBar .startUp img {
    width: 30px;
    height: 30px;
  }
  .taskBar .time .icons {
    font-size: 0.5rem;
  }
  .taskBar .time .clockAnddata {
    font-size: 0.5rem;
    display: none;
  }
}

.starUpWindow {
  background-color: rgba(0, 0, 0, 0.808);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 5px;
  width: 600px;
  height: 600px;
  position: absolute;
  top: 19%;
  left: 28%;
  margin: auto;
  display: none;
  transition: 0.3s ease-in-out;
}
.starUpWindow .input {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #18223D;
  padding: 0.2rem 0.2rem;
  border-radius: 5px;
  border-bottom: blue 2px solid;
}
.starUpWindow .input input {
  margin-left: 1rem;
  width: 90%;
  padding: 0.5rem;
  background: transparent;
  border: none;
  color: white;
}
.starUpWindow .input :focus {
  outline: none;
}
.starUpWindow .input i {
  font-size: 1.5rem;
  color: blue;
}
.starUpWindow .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: small;
  width: 90%;
  margin: auto;
}
.starUpWindow .header a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #28354B;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
}
.starUpWindow .startapps {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.5rem;
  font-size: 10px;
}
.starUpWindow .startapps .startapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.starUpWindow .startapps .startapp img {
  width: 40px;
}
.starUpWindow .recommended .apps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}
.starUpWindow .recommended .apps .app {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 5rem;
}
.starUpWindow .recommended .apps .app img {
  width: 30px;
  height: 30px;
}
.starUpWindow .recommended .apps .app .content p {
  font-size: 15px;
  font-weight: 200;
}
.starUpWindow .recommended .apps .app .content :nth-of-type(2) {
  font-size: 10px;
}
.starUpWindow .profile {
  position: fixed;
  bottom: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 0.5rem 5%;
}
.starUpWindow .profile .img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}
.starUpWindow .profile .img img {
  width: 100%;
  display: block;
}
.starUpWindow .profile i {
  font-size: 1.5rem;
}
.starUpWindow .profile p {
  margin-right: 340px;
  font-size: small;
}
@media (max-width: 900px) {
  .starUpWindow {
    bottom: 0;
    left: 0;
    height: 800px;
    width: 800px;
  }
}
@media (max-width: 480px) {
  .starUpWindow {
    bottom: 0;
    left: 0;
    height: 400px;
    width: 300px;
  }
  .starUpWindow .startapps {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.5rem;
    font-size: small;
  }
  .starUpWindow .startapps .startapp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .starUpWindow .startapps .startapp img {
    width: 20px;
  }
  .starUpWindow .recommended {
    display: none;
  }
  .starUpWindow .profile {
    display: none;
  }
}

.show {
  display: block;
}

.widget {
  background: rgba(0, 0, 0, 0.596);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  height: 93vh;
  width: 50%;
  position: absolute;
  top: 0;
  padding: 2rem;
  transform: translateX(-800px);
  transition: 0.3s ease-in-out;
}
.widget .flex {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.widget .flex .card1 {
  background-color: #1C252E;
  width: 50%;
  height: 200px;
  margin-top: 1rem;
  border-radius: 5px;
}
.widget .flex .card1 .head {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.widget .flex .card1 .head i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29384C;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.widget .flex .card1 .head .toronto {
  margin-left: 3rem;
}
.widget .flex .card1 img {
  width: 60px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.widget .flex .card1 .content p {
  margin-right: 5px;
}
.widget .flex .card1 .content :nth-last-of-type(1) {
  font-size: small;
}
.widget .card2 {
  background-color: #1C252E;
  width: 100%;
  height: 100px;
  margin-top: 1rem;
  border-radius: 5px;
}
.widget .card2 .head {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
.widget .card2 .head i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #29384C;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.widget .card2 .head .bxs-plus-circle {
  background: none;
  font-size: 1.5rem;
  color: blue;
}
@media (max-width: 900px) {
  .widget {
    height: 100vh;
  }
}
@media (max-width: 480px) {
  .widget {
    width: 90%;
    height: 90vh;
    padding: 0;
  }
  .widget flex {
    display: block;
  }
  .widget .head {
    display: block;
  }
  .widget .head p {
    font-size: 8px;
  }
}

.showWidget {
  transform: translateX(0px);
  transition: 0.3s ease-in-out;
}

.notificationBar {
  background-color: #171E25;
  height: 90vh;
  width: 25%;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  color: white;
  display: none;
}
.notificationBar .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}
.notificationBar .buttons {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background: #1B2127;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.notificationBar .buttons button {
  background: #272C33;
  width: 100px;
  height: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: white;
}
@media (max-width: 900px) {
  .notificationBar {
    bottom: 0;
    width: 45%;
  }
}
.notificationBar .showNotification {
  transform: translateY(0px);
}

.logIn {
  background: linear-gradient(rgba(0, 0, 0, 0.664), rgba(0, 0, 0, 0.589)), url(../images/default_dark_compressed.jpg);
  display: block;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
}
.logIn .img {
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
}
.logIn .img img {
  width: 100%;
  display: block;
}
.logIn input {
  padding: 0.5rem 1rem;
  width: 300px;
  margin-top: 1rem;
  border: none;
}
.logIn :focus {
  outline: none;
}
.logIn p {
  color: white;
  margin-top: 0.5rem;
}
@media (max-width: 900px) {
  .logIn {
    height: 100%;
  }
}

.loaderContainer {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.801)), url(../images/default_light_compressed.jpg);
  background-size: cover;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loaderContainer .loader {
  color: red;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes gradientShift {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
@media (max-width: 900px) {
  .loaderContainer {
    height: 100vh;
  }
  .loaderContainer .loader {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .loaderContainer {
    height: 100vh;
  }
  .loaderContainer .loader {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */